<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/main.css?after" />
		
	</head>
	<body>

			<section id="banner">
				<div class="inner">
					<header>
						<h1>Hope Valley</h1>
					</header>

					<!-- <div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Aliquam</h3>
							<p>Suspendisse amet ullamco</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>Elementum</h3>
							<p>Class aptent taciti ad litora</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Ultrices</h3>
							<p>Nulla vitae mauris non felis</p>
						</div>

					</div> -->

					<!-- <footer>
						<a href="#" class="button">Get Started</a>
					</footer> -->
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner1">
					<div class="flex flex-2">
						
						<div id="slider">
							<div class="image_box">
								<div><img src="/static/images/picpic1.png" alt="graph01"></div>
								<div><img src="/static/images/picpic.png" alt="graph01"></div>
		
								<!-- <div><img src="/static/images/linear4.png" alt="graph01"></div> -->
							</div>
						</div>

						<div id="text_a">
							매출 예측 정확도
						</div>

						<div class="article">
							<header>
								<h3>연매출<br /> <p>annual sales</p> </h3>
							</header>
							<p>연속된 2년치 데이터를 입력하면 다음 년도의 연매출을 예측해드려요.<br /> (ex. 2021년 2022년 데이터 입력시 2023년도 연매출을 예측해요.)<br />단위 : 만원</p>
							<footer>
								<a href="predict" class="button">predict</a>
							</footer>
							<header>

							</header>
						
							<!-- <header>
								<h3>Sed feugiat<br /> tempus adipicsing</h3>
							</header>
							<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer> -->
						</div class="article">
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>
				</div>
			</footer>

		<div class="copyright">
			Made with: <a href="https://templated.co/">Templated.co</a>
		</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>